.home-container {
  padding: 2rem;
  text-align: center;
}

.user-card {
  margin-top: 1rem;
  background-color: #f4f4f4;
  padding: 1rem;
  border-radius: 8px;
  display: inline-block;
  text-align: left;
}
