/* Base reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", sans-serif;
  color: #111;
}
html {
  scroll-behavior: smooth;
}

.landing-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
}
/* Header */
.header {
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  border-bottom: 1px solid #ddd;
  background-color: white;
  flex-wrap: wrap;
  gap: 1rem;
}

.header .logo {
  font-weight: bold;
  font-size: 1.2rem;
  margin-left: 2rem;
  margin-right: 1rem;
}

.header nav {
  display: flex;
  gap: 1rem;
}

.header nav a {
  font-size: 0.8rem;
  text-decoration: none;
  color: #3c3c3c;
  font-weight: 500;
}

.header a {
  font-size: 0.8rem;
  text-decoration: none;
  color: #3c3c3c;
  font-weight: 500;
}

.search-contact {
  width: 300px;
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 0.5rem;
}

.search-contact input {
  padding: 10px 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

/* Login Button */
.login-btn {
  background-color: #3b82f6;
  color: white;
  border: none;
  padding: 8px 16px;
  margin-left: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-btn:hover {
  background-color: #2563eb;
}

/* Hero */
.hero {
  position: relative;
  height: 400px;
  display: flex;
  align-items: center;
  /* padding: 2rem; */
  overflow: hidden;
}

/* Background GIF layer */
.hero-gif-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("/public/png.gif") no-repeat center center / cover;
  z-index: 0;
}

/* Text Overlay */
.overlay {
  position: relative;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 2rem;
  width: 100%;
  height: 100%;
  color: white;
}

.hero h1 {
  margin: 1.5rem;
  font-size: 1.8rem;
}

.hero p {
  margin-left: 1.5rem;
  font-size: 1.2rem;
}

.hero .desktop-text {
  margin-top: 1.5rem;
  margin-left: 1.5rem;
  background-color: #e6007e;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.hero .desktop-text:hover {
  background-color: #c8006f;
}

/* Features */
.features {
  text-align: center;
  padding: 3rem 1rem;
  background: #f9f9f9 url("/public/dots.jpg") no-repeat center center / cover;
  opacity: 0.9;
}

.features h2 {
  font-size: 3rem;
  color: #e6007e;
  margin-bottom: 2rem;
}

.feature-cards {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  flex-wrap: wrap;
}

.card {
  background: white;
  border: 2px solid #dbd9d9;
  border-radius: 10px;
  padding: 1.5rem;
  width: 150px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  background-color: #c8006f;
  color: white;
}

.icon {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

/* Highlights */
.highlights {
  display: flex;
  justify-content: space-between;
  padding: 3rem 2rem;
  flex-wrap: wrap;
  background: white;
}

.highlights .left h2 {
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 1rem;
  margin-left: 1.5rem;
}

.highlights .left span {
  color: #e6007e;
}

.highlights .right {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
  width: 45%;
  .box {
    font-weight: 300;
  }
}

.twoDiv {
  display: flex;
  gap: 1rem;
  width: 100%;
  .box:nth-child(1) {
    width: 50%;
  }
  .box:nth-child(2) {
    width: 50%;
  }
}
.number {
  font-size: 2.5rem;
  color: #e6007e;
  margin-right: 0.5rem;
  font-weight: 500;
}

.box {
  font-size: 1.8rem;
  background: #fce7f3;
  padding: 1rem;
  border-radius: 10px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.box:hover {
  background: #f9d8ea;
}

.box span {
  color: #e6007e;
}

.highlights button {
  margin-top: 1rem;
  margin-left: 1.5rem;
  font-size: 1rem;
  background-color: #e6007e;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.highlights .bottom-button {
  display: none;
}

.highlights button:hover {
  background-color: #c8006f;
}

/* Footer */
.footer {
  padding: 2rem;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  border: 2px solid #ddd;
  box-shadow: 0 0 12px 3px rgba(0, 0, 0, 0.3);
  background-color: #f9f9f9;
}

.footer .footer-logo {
  font-weight: bold;
  font-size: 1.5rem;
  margin-top: 1.5rem;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.footer-links ul {
  list-style: none;
}

.footer-links li {
  padding: 4px 0;
  font-size: 1.2rem;
}

/* All the hidden elements and tags*/
.logo-res,
.mobile-nav,
.mobile-text,
.video-logo {
  display: none;
}

/* iPhone & Small Devices */
@media screen and (max-width: 430px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
  }

  .header .logo {
    margin-left: 0;
    font-size: 1.4rem;
  }

  .header nav {
    flex-direction: column;
    gap: 0.5rem;
  }

  .search-contact {
    width: 100%;
    margin-left: 0;
    flex-direction: column;
    align-items: stretch;
  }

  .hero {
    flex-direction: column;
    padding: 1rem;
    height: 100vh;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 4rem 1.2rem;
    color: white;
  }

  .hero h1 {
    font-size: 1.6rem;
    margin: 1rem 0;
    line-height: 2.5rem;
  }

  .hero p,
  .hero .desktop-text {
    margin-left: 0;
  }

  .hero p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    line-height: 1.5rem;
  }

  .desktop-text {
    display: none;
  }

  .hero .mobile-text {
    display: inline-block;
    font-size: 1.2rem;
    margin-top: 1.5rem;
    background-color: #e6007e;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .video-logo {
    position: absolute;
    bottom: 4rem;
    right: 3rem;
    width: 5rem;
    height: 5rem;
    border-radius: 50px;
    padding: 20px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3);
    z-index: 2;
  }

  .video-logo {
    color: #f1add2;
    font-size: 2rem;
    border-radius: 50px;
  }

  .features .card {
    border-radius: 20px;
    box-shadow: 0 0 12px 1px rgba(0, 0, 0, 0.5);
    margin-bottom: 1rem;
  }

  .features h2 {
    font-size: 2rem;
    text-align: left;
  }
  .card .icon {
    font-size: 4rem;
    margin-bottom: 0.5rem;
  }

  .card p {
    font-size: 1.5rem;
  }

  .feature-cards {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 90%;
  }

  .highlights {
    flex-direction: column;
    padding: 2rem 1rem;
  }

  .highlights .left h2 {
    font-size: 2rem;
    margin-top: 2rem;
    margin-left: 0;
    text-align: left;
  }

  .highlights .left span {
    font-weight: 800;
  }

  .highlight-h2-br {
    display: none;
  }

  .highlights button {
    width: 100%;
    margin-left: 0;
  }

  .highlights .left-top-button {
    display: none;
  }

  .highlights .bottom-button {
    display: inline-block;
    width: 40%;
    margin-top: 1rem;
    margin-left: 0;
    font-size: 1.2rem;
    background-color: #e6007e;
    color: white;
    padding: 15px 20px;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .highlights .right,
  .twoDiv .box:nth-child(1),
  .twoDiv .box:nth-child(2) {
    width: 100%;
  }

  .twoDiv {
    flex-direction: column;
  }

  .footer {
    flex-direction: column;
  }

  .footer .footer-logo {
    margin-bottom: 1rem;
  }

  .footer-links {
    flex-direction: column;
    gap: 2rem;
  }

  .footer-links ul {
    padding: 0;
  }

  .footer-links li {
    font-size: 1rem;
  }

  .footer .footer-logo .footer-links {
    text-align: left;
  }
}

/* Mobile Navbar (up to tablets) */
@media screen and (max-width: 768px) {
  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }

  .logo {
    display: none;
  }

  .logo-res {
    display: inline;
    font-size: 1.5rem;
    font-weight: bold;
  }

  nav,
  .search-contact,
  .login-btn,
  .header a {
    display: none !important;
  }

  .mobile-nav {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.2rem;
    gap: 1.5rem;
    margin-left: auto;
  }

  .mobile-nav i {
    color: #333;
    cursor: pointer;
  }
}
